[user]  
        email = {{ git_email }}
        name = {{ git_name }}
   	    signingkey = {{ git_email }}
[push]  
        default = simple
[gitreview]
        username = {{ git_username }}
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  oneline = log --pretty=oneline
  la = log --pretty=format:\"%ad %h (%an): %s\" --date=short
  type = cat-file -t
  dump = cat-file -p
